.list {
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	height: 100vh;
	overflow-y: auto;

	* {
		font-family: "Helvetica Neue", Helvetica, sans-serif;
	}

	.side-menu {
		padding: 10px;
	}

	h1 {
		font-size: 1em;
		letter-spacing: 0.1em;
		color: #000;
		margin-bottom: 20px;
		display: inline-block;
		span {
			font-weight: bold;
			font-style: italic;
			cursor: pointer;
			@include transition(opacity 0.3s);
			&:hover {
				opacity: 0.5;
			}
		}
		&:after {
			content: " ";
			border-bottom: 1px solid #000;
			width: 100%;
			height: auto;
			display: inline-block;
		}
	}

	ol {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			counter-increment: step-counter;
			margin-bottom: 20px;
			cursor: pointer;
			@include transition(all 0.3s);
			a {
				color: #000;
				@include transition(transform 0.3s);
			}
			&:hover {
				opacity: 0.5;
				background-color: transparent;
				a {
					background-color: transparent;
					@include transform(translateX(10px));
				}
				&:before {
					margin-left: 10px;
				}
			}
			&:before {
				content: counter(step-counter);
				font-size: 80%;
				background-color: #fc0;
				color: white;
				font-weight: bold;
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				border-radius: 10px;
				position: absolute;
				margin-top: 0px;
				top: 50%;
				@include transform(translateY(-50%));
				@include transition(margin 0.3s);
			}
			a {
				margin: 0;
				padding: 0;
				margin-left: 25px;
				font-size: 12px;
			}
		}
	}
}